version: 2.1
jobs:
  build_openwrt:
    machine:
      image: ubuntu-1604:201903-01

    environment:
      - REPO_URL: https://github.com/jayanta525/openwrt-nanopi-r2s.git
      - BRANCH: rk3328
      - CONFIG: config.seed
      - FEEDS: feeds.conf
      - SCRIPT: scripts/adjust-feeds.sh
      - CACHE: 21jul2020

    working_directory: ~/
    steps:
      - run:
          name: Prepare for checkout
          command: |
            mkdir github

      - checkout:
          path: github/

      - run:
          name: generate_cache_hash
          command: |
            echo "$CACHE" > /tmp/armv8-cache
      
      - restore_cache:
          keys:
            - cache-{{ checksum "/tmp/armv8-cache" }}

      - run:
          name: Clone and Pull Repo
          no_output_timeout: 60m
          command: |
            git clone --depth 1 -b $BRANCH $REPO_URL openwrt || true
            git config --global user.email "ubuntu@circleci.com"
            git config --global user.name "CircleCI"
            cd openwrt/
            sudo apt-get update
            sudo apt-get install -yq swig python3-dev zip libelf-dev

      - run:
          name: Clear previous builds
          command: |
            rm -rf openwrt/bin/targets || true

      - run:
          name: Update Feeds
          no_output_timeout: 60m
          command: |
            cd openwrt/
            pyenv global 3.5.2
            rm .config || true
            ./scripts/feeds clean
            rm feeds.conf || true
            cp ../github/$FEEDS feeds.conf
            ./scripts/feeds update -a
      - run:
          name: Execute Script
          no_output_timeout: 60m
          command: |
            cd openwrt/
            cp ../github/$SCRIPT script.sh
            ./script.sh

      - run:
          name: Install Feeds
          no_output_timeout: 60m
          command: |
            cd openwrt/
            pyenv global 3.5.2
            ./scripts/feeds install -a
            cp ../github/$CONFIG .config
            make defconfig

      - run:
          name: Build toolchain
          no_output_timeout: 60m
          command: |
            cd openwrt/
            pyenv global 3.5.2
            make -j3 download
            make -j3 tools/compile
            make -j3 toolchain/compile
            make -j3 tools/install
            make -j3 toolchain/install

      - run:
          name: Build Kernel
          no_output_timeout: 60m
          command: |
            cd openwrt/
            pyenv global 3.5.2
            make -j3 target/compile

      - run:
          name: Build OpenWrt Image
          no_output_timeout: 60m
          command: |
            cd openwrt/
            pyenv global 3.5.2
            make -j3

      - save_cache:
          key: cache-{{ checksum "/tmp/armv8-cache" }}
          paths:
            - openwrt/

      - run:
          name: Organize image files
          no_output_timeout: 60m
          command: |
            cd openwrt/bin/
            rm -rf packages/
            cd targets/*/*/
            zip -r kmod-package.zip packages/
            rm -rf packages/

      - store_artifacts:
          path: openwrt/bin/

workflows:
  version: 2
  main:
    jobs:
      - build_openwrt:
          filters:
            branches:
              only: 
                - circleci
